* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  object-fit: cover;
}

.input {
  font-family: inherit;
}

.features,
.team,
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features .container,
.team .container,
.portfolio .container {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  max-width: 496px;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  display: block;
}

.logo-part-one {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part-two {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.16667;
  text-transform: uppercase;
  color: #2e2f42;
}

a {
  text-decoration: none;
}
.nav-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 76px;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  opacity: 1;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.address-nav:hover,
.address-nav:focus,
.nav-link.current {
  color: #404bbf;
}

.address-nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
}

.main-hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

.main-hero {
  background-color: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/MainHero.jpg");
  background-size: cover;
  background-position: center center;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
}


.hero-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  text-align: center;
  white-space: nowrap;
  display: block;
  margin: 0 auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.features-item {
  width: calc((100% - 3 * 24px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.conteiner-features {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-features {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}

.team .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}

.team-title {
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team {
  background: #f4f4fd;
}

.team-part {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
}

.card-wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 264px;
}

.border-team {
  padding: 32px 16px;
}

.social-links {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #f4f4fd;
}

.social-icon:hover,
.social-icon:focus {
  background-color: #404bbf;
}

.team-worker {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-top: 8px;
}

.portfolio .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.portfolio-main-title {
  text-align: center;
  margin-bottom: 72px;
}

.grid-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 24px;
  row-gap: 48px;
}

.grid-list li {
  flex: 0 0 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.border-portfolio-overlay {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}

.border-portfolio:hover,
.border-portfolio-overlay:focus {
  cursor: pointer;
}

.portfolio-img-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #4d5ae5;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-part:hover .portfolio-item-overlay {
  transform: translateY(0%);
}

.portfolio-part-app {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}

.portfolio-part {
  background: #fff;
  width: 360px;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border-portfolio {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}

.portfolio-part:hover,
.portfolio-part:focus {
  cursor: pointer;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.footer-logo {
  display: block;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-logo-part-one {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.footer-logo-part-two {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.social-links-footer {
  display: flex;
  gap: 16px;
  margin-top: 16px;

}

.social-icon-footer {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #fff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  background-color: #31d0aa;
}

.footer .container {
  display: flex;
  gap: 120px;
  align-items: baseline;
  position: relative;
}

.mail-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 453px;
  max-height: 80px;
  position: absolute;
  right: 0;
}

.mail-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.input-row {
  display: flex;
  gap: 24px;
}

.input-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #2e2f42;
  padding: 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-email::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.mail-button {
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.mail-button:hover,
.mail-button:focus {
  background-color: #31d0aa;
}

.input-email:hover,
.input-email:focus {
  border: 1px solid #31d0aa;
}

.icon-scr {
  fill: #fff;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popup-review {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 408px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .popup-review {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-popup {
  border-radius: 100%;
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-style: solid;

}
.close-btn {
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup:hover>.close-btn,
.close-popup:focus>.close-btn {
  fill: #fff;
}


.close-popup:hover,
.close-popup:focus {
  background-color: #404bbf;
}

.text-popup {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;

}

.field-wrapper {
  margin-bottom: 8px;
}

.icon-inner {
  position: relative;
}

.icon-wrapper {
  fill: #2E2F42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-wrapper:hover,
.icon-wrapper:focus {
  fill: #4d5ae5;
}

.label-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-field {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  ;
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  padding-right: 10px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:hover,
.input-field:focus,
.comment-field:hover,
.comment-field:focus {
  border: 1px solid #4d5ae5;
}

.input-field:hover+.icon-wrapper,
.input-field:focus+.icon-wrapper {
  fill: #4d5ae5;
}

.comment-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  ;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

}
.checkbox-wrapper {
  padding-top: 8px;
}

.input-checkbox:checked+.text-terms .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
}

.check-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked+label .custom-checkbox .check-icon {
  opacity: 1;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 4px 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.text-terms {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #8e8f99;
  border-radius: 4px;
  width: 360px;
  height: 16px;
}

.privacy-link {
  text-decoration: underline;
  color: #4d5ae5;
  line-height: 1.33333;
}

.botton-field {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 24px;
  border: none;
}

.botton-field:hover,
.botton-field:focus {
  background-color: #404bbf;
}