/* base-styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.container {
    padding-left: 16px;
    padding-rigt: 16px;
    margin-left: auto;
    margin-right: auto;
}
.input {
  font-family: inherit;
}
header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h1 {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
h3 {

        color: #2e2f42;
}
 .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
} 
.logo {
  margin: 0;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
   text-transform: uppercase;
   width: 115px;
    height: 24px;
}

.logo-part-one {
  color: #4d5ae5;
}
.logo-part-two {
  color: #2e2f42;
}
.main-hero {
    background-color: #2e2f42;
    margin: 0 auto; 
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/MainHero.jpg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
}
.main-hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    text-align: center;
    white-space: nowrap;
    display: block;
    margin: 0 auto;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.text-features {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.card-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 264px;
}

.team {
    background: #f4f4fd;
}

.team-part {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0 0 4px 4px;
    width: 264px;
     height: 428px;
}
.team-worker {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-top: 8px;
}
.border-team {
    padding: 32px 16px;
}
.social-links {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}
.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: #f4f4fd;
}
.social-icon:hover,
.social-icon:focus {
    background-color: #404bbf;
}
.portfolio-main-title {
    text-align: center;
    margin-bottom: 72px;
}
.grid-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-part {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-part-app {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}
.border-portfolio {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.portfolio-part:hover,
.portfolio-part:focus {
    cursor: pointer;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.footer {
    background: #2e2f42;
}
.footer-logo {
    display: block;
    margin-bottom: 16px;
}
.footer-logo-part-one {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}

.footer-logo-part-two {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    
}
.text-social, .mail-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.social-links-footer {
    display: flex;
    gap: 16px;
    margin-top: 16px;

}
.social-icon-footer {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #fff;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    background-color: #31d0aa;
}
.mail-form {
    display: flex;
        justify-content: center;
        flex-direction: column;
}
.input-email {
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #2e2f42;
    padding: 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-email::placeholder {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.mail-button {
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}
.mail-button:hover,
.mail-button:focus {
    background-color: #31d0aa;
}

.input-email:hover,
.input-email:focus {
    border: 1px solid #31d0aa;
}
.icon-scr {
    fill: #fff;
    width: 24px;
    height: 24px;
}
/* endbase-styles */
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }

.nav-list {
    display: none;
}

.address-list {
    display: none;

}
.header {
    height: 56px; 
}
.logo {
    padding-top: 16px; 
}
.features,
.team,
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.main-hero {
    max-width: 320px; 
    height: 432px;
    padding-top: 72px;
    padding-bottom: 188px;
}
.main-hero .container {
    gap: 72px;

}
h1 {
    font-size: 36px;
    line-height: 1.11111;
    width: 216px;
}

.icon-features {
    display: none;
} 

.features-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}
h3 {
font-weight: 700;
font-size: 36px;
    line-height: 1.11111;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        text-align: center;

        
}
.text-features {
    font-weight: 500;

}
.team-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 72px;
        padding-top: 72px;
}
.portfolio-item-overlay {
    display: none;
}
.portfolio-part {
    width: 288px;
    height: 400px;
}
.portfolio-img {
     width: 288px; 
    height: 280px;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: start;
    color: #2e2f42;  
}
.footer {
    max-width: 320px;
    height: 664px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 96px;;
}
.footer-logo {
    text-align: center;
}
.footer-text {
        width: 288px;
        height: 72px;
        
    }
.text-social {
    text-align: center;
    padding-top: 72px;
}
.social-links-footer {
    justify-content: center;
}
.mail-form {
    max-width: 288px;
    max-height: 136px;
}
.mail-text {
    text-align: center;
     margin-bottom: 16px;
     margin-top: 72px;
}
.input-email {
    width: 288px;
    
}
.input-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px; 

}
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px; 
    }
    .header .container {
        height: 72px;

    }
    
    .nav-main {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 120px;
        
    }
    .logo {
        padding-top: 24px;
    }
        .nav-list {
            display: flex;
            flex-direction: row;
            align-items: center; 
            gap: 40px;
            margin: 0;
            padding-bottom: 24px;
            list-style: none;
           
        } 
        .nav-link::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #404bbf;
            opacity: 0;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .nav-link:hover::after,
        .nav-link:focus::after,
        .nav-link.current::after {
            opacity: 1;
        }
        .nav-link {
            position: relative;
            display: inline-block;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding-top: 20px;
            padding-bottom: 20px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .address-nav {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16667;
            letter-spacing: 0.04em;
            color: #434455;
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .address-list {
            display: flex;
            flex-direction: column;

            /* row-gap: 12px; */
            list-style: none;
            padding-bottom: 16px;
        }
        .features,
        .team,
        .portfolio {
            padding-top: 96px;
            padding-bottom: 96px;
        }
        .main-hero {
            max-width: 768px;
            height: 436px;
            padding-top: 112px;
        }
        
        .main-hero .container {
            gap: 36px;
        
        }
        h1 {
            font-size: 56px;
            line-height: 1.07143;
            width: 496px;
        }
        .icon-features {
            display: none;
        }
        
        .features-list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 72px;
            column-gap: 24px;
        }
        .features-item {
            width: calc((100% - 24px) / 2);
        }
        h3 {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11111;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
            text-align: start;

        }
        .text-features {
            font-weight: 500;
        }
        .team-list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 24px;
            row-gap: 64px;
        }
       .team-title {
        padding-bottom: 72px;
       }
       .portfolio-part {
        width: 356px;
        height: 420px;
       }
       .portfolio-img {
            width: 356px;
            height: 300px;           
       }
       .footer {
        max-width: 768px;
        height: 456px;
    }
    .footer-logo {
        text-align: start;
    }
    
    .footer-text {
        width: 264px;
    }
    .logo-social {
        display: flex;
        gap: 24px;
        align-items: baseline; 
        justify-content: center;
    }
    .text-social {
        text-align: start;
         padding-top: 0px;
    }
    .input-row {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        padding-left: 108px;
    }
    .input-email {
        width: 264px;
    }
   
           }